:root {
    --primarycolor: #00aeff;
}

* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black !important;
    color: white !important;
}

/*_______________________ Preloader_______________________ */

.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
}

.preloader-wrapper .spinner-grow {
    height: 50px;
    width: 50px;
}

.fade-out-animation {
    opacity: 0;
    visibility: hidden;
}

/*_______________________ Header_______________________ */

.nav-link {
    color: white !important;
    padding: 10px 20px !important;
}

.navbar a:hover {
    color: var(--primarycolor) !important;
}

.navbar .toggle-btn {
    font-size: 25px;
    color: var(--primarycolor);
    cursor: pointer;
    display: none;
}

.toggle-dropdown {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 60px;
    right: 2rem;
    height: 0px;
    width: 150px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.toggle-dropdown.open-toggle {
    height: 180px;
}

.toggle-dropdown li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toggle-dropdown li a:hover {
    color: var(--primarycolor);
}

/*_______________________ Hero Section_______________________ */

.herotext {
    width: 100%;
    height: 100vh;
    background: url(../images/heroimg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.herotext h1 {
    font-size: 70px;
    font-weight: 650;
}

.hellotext {
    font-size: 50px;
    margin-bottom: -5px;
    /* padding-top: 200px; */
}

.wrapper {
    font-size: 25px;
    font-weight: 500;
}

.multitext {
    color: var(--primarycolor);
    text-transform: capitalize;
    font-style: italic;
}

.herotext .social-icon i {
    font-size: 30px;
    padding: 0 10px;
    margin-top: 50px;
}

.herotext .social-icon a{
    color: white;
}

.herotext .social-icon a:hover {
    color: var(--primarycolor) !important;
}


/*_______________________ About Section_______________________ */

#about {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 100px;
}

.abouttext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abouttext h1 {
    font-weight: 700;
    font-size: 30px;
    padding: 50px 0;
}

.abouttext h1 span {
    font-weight: 300;
}

.abouttext p {
    max-width: 1200px;
    text-align: justify;
}

.skillbars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 50px 0 20px 0;
}

.skills {
    width: 500px;
}

.skills h2 {
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.skill-name {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-bar {
    height: 14px;
    background-color: #555555;
    border-radius: 5px;
}

.skill-per {
    height: 14px;
    background: linear-gradient(90deg, #78d4ff, #00aeff);
    border-radius: 5px;
    position: relative;
    animation: fillbar 2.5s 1;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: var(--primarycolor);
    color: white;
    border-radius: 5px;
    font-size: 13px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--primarycolor);
    top: -13px;
    right: 0;
    transform: translateX(50%) rotate(-45deg);
    border-radius: 2px;
}

@keyframes fillbar {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/*_______________________ Projects Section_______________________ */

#projects {
    width: 100%;
    color: white;
    background-color: #000000;
    padding-bottom: 100px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects a {
    text-decoration: none;
}

.project-desc {
    text-align: center;
    padding: 0 25px;
}

.projects h1 {
    font-weight: 700;
    font-size: 30px;
    padding: 50px 0 0;
}

.projects h1 span {
    font-weight: 300;
}

.projects .subtitle {
    padding: 20px 0 80px;
    font-size: 30px;
    font-weight: 600;
}

.wrapper-2 {
    width: 100%;
}

.carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.project-img {
    border-radius: 20px;
    padding: 10px;
}

.project-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 30px 0 0;
}

.carousel .card {
    color: #ffffff;
    background-color: #1d1d1d;
    text-align: center;
    margin: 20px 0;
    font-size: 13px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.owl-dots {
    text-align: center;
    margin-top: 40px;
  }

.owl-dot {
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #0072bc!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover{
    background: #0072bc!important;
}

/*_______________________ Services Section_______________________ */

#services {
    color: rgb(255, 255, 255);
    background-color: #000000;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.services h1 {
    font-weight: 700;
    font-size: 30px;
    padding-top: 50px;
}

.services h1 span {
    font-weight: 300;
}

.services h3 {
    padding: 20px 0 80px;
    font-size: 30px;
    font-weight: 600;
}

.service i {
    font-size: 80px;
    /* color: linear-gradient(90deg, #78d4ff, #00aeff); */
    padding-bottom: 30px;
    background: linear-gradient(to right, #51c8ff, #1797ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 620;
}

.carousel-2 .service {
    color: #ffffff;
    background-color: #1d1d1d;
    text-align: center;
    padding-top: 50px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.carousel-2 {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.carousel-2 .service {
    text-align: center;
}

.carousel-2 .owl-dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #0072bc!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

/*_______________________ Responsive Section_______________________ */

@media (max-width: 992px) {
    .navbar .navbar-nav {
        display: none !important;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .toggle-dropdown {
        display: block;
    }

    .skillbars {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }
}


@media (max-width: 810px) {
    .herotext h1 {
        font-size: 50px;
    }
    
    .hellotext {
        font-size: 40px;
    }
    
    .wrapper {
        font-size: 20px;
    }

    .herotext .social-icon i {
        font-size: 25px;
    }

    .abouttext p {
        font-size: 15px;
    }
}

@media (max-width: 580px) {
    .herotext h1 {
        font-size: 40px;
    }
    
    .hellotext {
        font-size: 30px;
    }
    
    .wrapper {
        font-size: 20px;
    }

    .herotext .social-icon i {
        font-size: 22px;
    }

    .abouttext p {
        font-size: 15px;
        max-width: 450px;
    }

    .skills {
        width: 400px;
    }

    .skill-bar {
        height: 13px;
    }
    
    .skill-per {
        height: 13px;
    }

    .services h3 {
        font-size: 22px;
    }

    .service h3 {
        font-size: 18px;
    }

    .projects .subtitle {
        font-size: 22px;
    }

    .projects h1, .services h1, .abouttext h1 {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .abouttext p {
        font-size: 14px;
        max-width: 400px;
    }

    .skill-per::before {
        font-size: 10px;
        top: -30px;
        
    }
}

@media (max-width: 412px) {
    .herotext h1 {
        font-size: 35px;
    }
    
    .hellotext {
        font-size: 25px;
    }
    
    .wrapper {
        font-size: 20px;
    }

    .herotext .social-icon i {
        font-size: 20px;
    }

    .abouttext p {
        font-size: 13px;
        max-width: 350px;
    }

    .skills {
        width: 300px;
    }

    .skills h2 {
        font-size: 20px;
    }

    .skill-name {
        font-size: 13px;
    }
    
    .skill-bar {
        height: 12px;
    }
    
    .skill-per {
        height: 12px;
    }

    .owl-dot {
        height: 10px;
        width: 30px;
        margin: 0 5px;
    }

    .project-title {
        font-size: 18px;
    }

    .services h3 {
        font-size: 20px;
    }

    .service h3 {
        font-size: 18px;
    }

    .projects .subtitle {
        font-size: 20px;
    }

    .carousel-2 .owl-dot {
        height: 12px;
        width: 12px;
    }
    
}