:root {
    --primarycolor: #00a2ed;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black !important;
    color: white !important;
}

/*_______________________ Preloader_______________________ */

.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
}

.preloader-wrapper .spinner-grow {
    height: 50px;
    width: 50px;
}

.fade-out-animation {
    opacity: 0;
    visibility: hidden;
}

/*_______________________ Header_______________________ */

.nav-link {
    color: white !important;
    padding: 10px 20px !important;
}

.navbar a:hover {
    color: var(--primarycolor) !important;
}

.navbar .toggle-btn {
    font-size: 20px;
    color: var(--primarycolor);
    cursor: pointer;
    display: none;
}

.toggle-dropdown {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 60px;
    right: 2rem;
    height: 0px;
    width: 150px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.toggle-dropdown.open-toggle {
    height: 180px;
}

.toggle-dropdown li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toggle-dropdown li a:hover {
    color: var(--primarycolor);
}

/*_______________________ Hero Section_______________________ */

.herotext {
    width: 100%;
    height: 100vh;
    background: url(../images/heroimg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.herotext h1 {
    font-size: 70px;
    font-weight: 700;
}

.hellotext {
    font-size: 50px;
    margin-bottom: -5px;
    /* padding-top: 200px; */
}

.wrapper {
    font-size: 25px;
    font-weight: 500;
}

.multitext {
    color: var(--primarycolor);
    text-transform: capitalize;
    font-style: italic;
}

.herotext .social-icon i {
    font-size: 30px;
    padding: 0 10px;
    margin-top: 50px;
}

.herotext .social-icon a{
    color: white;
}

.herotext .social-icon a:hover {
    color: var(--primarycolor) !important;
}


/*_______________________ About Section_______________________ */

#about {
    background-color: white;
    color: black;
    width: 100%;
}

.abouttext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abouttext h1 {
    color: var(--primarycolor);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 50px 0;
}

.abouttext p {
    max-width: 1000px;
    text-align: justify;
}


/*_______________________ Responsive Section_______________________ */

@media (max-width: 992px) {
    .navbar .navbar-nav {
        display: none !important;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .toggle-dropdown {
        display: block;
    }
}


@media (max-width: 810px) {
    .herotext h1 {
        font-size: 50px;
    }
    
    .hellotext {
        font-size: 40px;
    }
    
    .wrapper {
        font-size: 20px;
    }

    .herotext .social-icon i {
        font-size: 25px;
    }
}

@media (max-width: 580px) {
    .herotext h1 {
        font-size: 40px;
    }
    
    .hellotext {
        font-size: 30px;
    }
    
    .wrapper {
        font-size: 20px;
    }

    .herotext .social-icon i {
        font-size: 22px;
    }
}

@media (max-width: 400px) {
    .herotext h1 {
        font-size: 35px;
    }
    
    .hellotext {
        font-size: 25px;
    }
    
    .wrapper {
        font-size: 20px;
    }

    .herotext .social-icon i {
        font-size: 20px;
    }
}