* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

/*_______________________ Preloader_______________________ */

.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
}

.preloader-wrapper .spinner-grow {
    height: 50px;
    width: 50px;
}

.fade-out-animation {
    opacity: 0;
    visibility: hidden;
}

/* Header section */

nav {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px 100px;
}

nav a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(90deg, rgb(212, 0, 255),rgb(127, 0, 201));
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
}

nav a:hover {
    color: black;
    background: white;
}

@media (max-width: 1000px) {
    nav {
        display: none;
    }
}

/* Hero section */

.hero {
    width: 100%;
    height: 90vh;
    background: url(../img/heroer.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.herotext {
    text-align: center;
    color: rgb(255, 255, 255);
}

.herotext h1 {
    font-size: 100px;
    margin-top: -80px;
}

.herotext h3 {
    font-size: 50px;
    margin-top: -80px;
}

.herobtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.herobtn i {
    padding: 20px 5px 10px;
}

.herobtn p {
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 600;
}


.herobtn .conbtn {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.herobtn .discordbtn {
    display: flex;
    flex-direction: row;
}

.discordbtn, .conbtn {
    background: linear-gradient(90deg, rgb(210, 5, 252),rgb(127, 0, 201));
    border-radius: 10px;
    font-size: 15px;
    padding: 0 10px;
}

.herobtn a {
    text-decoration: none;
    color: white;
}

@media (max-width: 1000px) {
    .herotext h1 {
        font-size: 80px;
    }
    
    .herotext h3 {
        font-size: 40px;
    }

    .discordbtn, .conbtn {
        font-size: 12px;
    }

    .herobtn i {
        padding: 15px 5px 10px;
    }
}

@media (max-width: 600px) {
    .herotext h1 {
        font-size: 50px;
        margin-top: 0;
    }
    
    .herotext h3 {
        font-size: 20px;
        margin-top: -40px;
    }

    .discordbtn, .conbtn {
        font-size: 10px;
        padding: 0 5px;
    }

    .herobtn i {
        padding: 12px 5px 10px;
    }

    .herobtn .conbtn {
        margin-left: 20px;
    }
    
}

@media (max-width: 430px) {
    .herotext h1 {
        font-size: 40px;
        margin-top: 0;
    }
    
    .herotext h3 {
        font-size: 20px;
        margin-top: -30px;
    }

    .discordbtn, .conbtn {
        font-size: 9px;
        padding: 0 5px;
    }

    .herobtn i {
        padding: 11px 5px 10px;
    }

    .herobtn p {
        padding-right: 5px;
    }

    .herobtn .conbtn {
        margin-left: 0;
        margin-top: 20px;
    }

    .herobtn {
        display: flex;
        flex-direction: column;
    }
    
}

/* About section */

.about {
    margin: 0 100px;
    text-align: justify;
    padding: 50px 0 0;
    font-size: 15px;
}

.about a {
    text-decoration: none;
    color: rgb(212, 0, 255);
    font-weight: 600;
}

@media (max-width: 800px) {
    .about {
        margin: 0 50px;
        text-align: justify;
        padding: 50px 0 0;
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .about {
        margin: 0 30px;
        text-align: justify;
        padding: 50px 0 0;
        font-size: 13px;
    }
}

@media (max-width: 430px) {
    .about {
        margin: 0 20px;
        text-align: justify;
        padding: 50px 0 0;
        font-size: 12px;
    }
}


/* Gallery Section */

.gallery h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 50px 0;
}

.wrapper {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    .gallery h1 {
        font-size: 25px;
    }
    
    .wrapper {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 430px) {
    .gallery h1 {
        font-size: 20px;
    }
    
    .wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Video Section */

.videos {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 50px;
}

.videos h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 50px 0;
}

.video-grid {
    position: relative;
    overflow: hidden;
    width: 70%;
    padding-top: 35%;
    margin: auto;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
    .video-grid {
        width: 90%;
        padding-top: 45%;
    }

    .videos {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 600px) {
    .video-grid {
        width: 100%;
        padding-top: 50%;
        margin: 0;
    }

    .videos h1 {
        font-size: 25px;
    }    
}

@media (max-width: 430px) {
    .video-grid {
        width: 100%;
        padding-top: 50%;
    }

    .videos {
        margin-left: 20px;
        margin-right: 20px;
    }

    .videos h1 {
        font-size: 20px;
    }  
}


.endtext {
    text-align: center;
    font-size: 50px;
    padding: 50px 0;
}

/*_______________________ Footer Section_______________________ */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #222222;
}

.footer p {
    text-align: center;
    font-size: 15px;
}

.footer p a {
    text-decoration: none;
    color: var(--primarycolor);
}

.fp1 {
    padding-top: 10px;
}

.fp2 {
    margin-top: -10px;
}

@media (max-width: 600px) {
    .footer p {
        font-size: 13px;
    }  

    .endtext {
        font-size: 35px;
    }
}

@media (max-width: 430px) {
    .footer p {
        font-size: 11px;
    }

    .endtext {
        font-size: 25px;
    }
}